.CardAccountInfo .card-header-x {
	overflow: hidden;
	text-align: center;
}

.CardAccountInfo .card .banner {
	background-color: #35404f;
	background-size: cover!important;
	background-position: center!important;
	height: 150px;
}

.CardAccountInfo .card .avatar {
	position: relative;
	top: -50px;
	margin-bottom: -50px;
}

.CardAccountInfo .card .avatar img {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}

.CardAccountInfo .card .info {
	padding: 4px 8px 10px;
}

.CardAccountInfo .card .info .title {
	margin-bottom: 4px;
	color: #000000;
}