
.CardStreamer .card {
	overflow: hidden;
	text-align: center;
}

.CardStreamer .card .banner {
	background-color: #35404f;
	background-size: cover!important;
	background-position: center!important;
	height: 90px;
}

.CardStreamer .card .avatar {
	position: relative;
	top: -50px;
	margin-bottom: -50px;
}

.CardStreamer .card .avatar img {
	width: 75px;
	height: 75px;
	max-width: 75px;
	max-height: 75px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}

.CardStreamer .card .info {
	padding: 4px 8px 10px;
}

.CardStreamer .card .info .title {
	margin-bottom: 4px;
	color: #000000;
}

.CardStreamer .card .info .desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.CardStreamer .links .btnAccount{
	display: inline-block;
	text-align: center;
	margin-left: 6px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.CardStreamer .links .btnAccount:first-child
{
	margin-left: 0!important;
}

.CardStreamer .links .btnAccount:hover {
	background: gray!important;
}

.CardStreamer .bottom {
	margin: 9px 8px 8px 8px;
}


