.CardFeaturedStreamer .banner {
	background-color: #35404f;
	background-size: cover;
	height: 170px;
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
	filter: brightness(50%);	
}

.CardFeaturedStreamer .card-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 170px;
}