.CardDonationInfo .card-header-x {
	overflow: hidden;
	text-align: center;
}

.CardDonationInfo .card .banner {
	background-color: #35404f;
	background-size: cover!important;
	background-position: center!important;
	height: 150px;
}

.CardDonationInfo .card .avatar {
	position: relative;
	top: -50px;
	margin-bottom: -50px;
}

.CardDonationInfo .card .avatar img {
	width: 100px;
	height: 100px;
	max-width: 100px;
	max-height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}

.CardDonationInfo .card .info {
	padding: 4px 8px 10px;
}

.CardDonationInfo .card .info .title {
	margin-bottom: 4px;
	color: #000000;
}

.CardDonationInfo .card .info .desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.CardDonationInfo .links .btnAccount{
	display: inline-block;
	text-align: center;
	margin-left: 6px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.CardDonationInfo .links .btnAccount:first-child
{
	margin-left: 0!important;
}

.CardDonationInfo .links .btnAccount:hover {
	background: gray!important;
}