.CardDonationMenu .currencies .liCurrency
{
	display: inline-block;
	text-align: center;
	padding: 0 6px;
	color: black;  /* text-muted */
	border-bottom: 2px solid transparent;
}

.CardDonationMenu .currencies .btnCurrency{
	display: inline-block;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	line-height: 45px;
}


.CardDonationMenu .currencies .liCurrency:hover {
	cursor: pointer;
	border-bottom: 2px solid orange;
}
.CardDonationMenu .currencies .liCurrency:hover .btnCurrency {
	opacity: 0.7;
}
.CardDonationMenu .currencies .liCurrency:hover .unit {
	color: orange!important;
}

.CardDonationMenu .currencies .liCurrency.selected {
	border-bottom: 2px solid orange;
}
.CardDonationMenu .currencies .liCurrency.selected .unit {
	color: orange!important;
}