/* *
/* Common CSS For All Routes
/*
*/



/* Color Pallette */
.bg-cona-primary {background-color: #35404f!important;}
.border-cona-primary {border-color: #35404f!important;}
.btn-outline-cona-primary {border-color: #35404f!important;}
.bg-twitch-primary {background-color: #6441A4!important;}
.bg-youtube-primary {background-color: #ff0000!important;}
.bg-btc-primary {background-color: #FF9900!important;}
.bg-eth-primary {background-color: #3C3C3D!important;}


/* Utils */
.spacer5 {height: 5px!important;}
.spacer10 {height: 10px!important;}
.spacer15 {height: 15px!important;}
.spacer20 {height: 20px!important;}
.spacer30 {height: 30px!important;}
.spacer45 {height: 45px!important;}
.t--1 {top: -1px;}
.t--2 {top: -2px;}
.break-word {word-wrap: break-word;}
.little-gutters {margin-right: 0; margin-left: 0;}
.little-gutters>.col,
.little-gutters>[class*="col-"] {padding-right: 5px; padding-left: 5px;}

.one-liner * {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}



/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
.font-raleway {
	font-family: 'Raleway', Arial, sans-serif;
}



/* hr with text in center */
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}



/* Input with icon in front */
.parent-input-with-icon {
	position: relative;
}
.parent-input-with-icon .icon-before-input {
  position: absolute;
  margin: auto 1.2rem;
  top: 0; bottom: 0;
  z-index: 10;
}
.parent-input-with-icon .input-after-icon {
  padding-left: 3rem;
  font-size: 1.171875rem;
  line-height: 1.5;
}


/* Custom Design */
@media (max-width: 991.98px){
	.bd-navbar .navbar-nav-scroll {
		max-width: 100%;
		height: 2.5rem;
		margin-top: .25rem;
		overflow: hidden;
		font-size: .875rem;
	}
	.bd-navbar .navbar-nav-scroll .navbar-nav {
		padding-bottom: 2rem;
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
}



.Document .sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.Document .sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
	height: calc(100vh - 0px);
	overflow-x: hidden;
	overflow-y: auto;
}

#my-table {
	table-layout: fixed;
	width:100%;
	text-align: center;
}
#my-table td {
	overflow:scroll;
}

